@import url('https://fonts.googleapis.com/css2?family=Aref+Ruqaa&display=swap');

*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Aref Ruqaa', serif;
}

body
{
    background:#fff;
    min-height: 100vh;
}

/*#region Barra*/

header
{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    transition: 0.6s;
    padding: 25px 40px;
    z-index: 100000;
}

/*la linea blanca*/
header.sticky
{
    padding: 20px 100px;
    background: #fff;
}

header .logo
{
    position: relative;
    font-weight: 700;
    color: #fff;
    text-decoration: none;
    font-size: 2em;
    text-transform: uppercase;
    letter-spacing: 2px;
}

header ul
{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

header ul li
{
    position: relative;
    list-style: none;
}

header ul li a
{
    position: relative;
    margin: 0 15px;
    text-decoration: none;
    color: #fff;
    letter-spacing: 2px;
    font-weight: 700px;
    font-size: 25px;
    transition: 0.6s;
}

.cart-info__icon {
    font-size: 30px;
}


header ul li i
{
    padding-left: 20px;
    color: white;
    transition: 0.6s;
}

.banner
{
    position: sticky;
    width: 1920px;
    margin-left: -79px;
    height: 100vh;
    background: url('http://localhost:3000/static/imagenes/form.png') ;
    background-repeat: no-repeat;
    background-size: 1920px 1080px ;
}

header.sticky .logo
{
    color: #000;
}

header.sticky ul li a 
{
    color: #000;
}

header.sticky ul li i 
{
    padding-left: 35px;
    color: #000;
}

/*#endregion Barra*/

/*esto sirve de separador para la caja asi no se lleva el fondo*/
h1
{
    padding-top: 1px;
    padding-left: 1px;
    font-size: 1px;
}


/*#region stylecaja*/

.contenedor{
    width: 550px;
    height: 790px;
    box-sizing: border-box;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.95);
}

.contenedor h2
{ 
    text-align: center;
    margin-top: 1px;
    margin-left: 1px;
    font-size: 35px;
}

.contenedor p
{
    text-align: center;
    margin-top: 25px;
    font-size: 20px;
}

#nombre{
    margin-top: 50px;
    margin-left: 65px;
}

#txtNombre{
    position: relative;
    left: 45px;
    width: 200px;
    line-height: 40px;
    border-radius: 6px;
    font-size: 20px;
    border-style: solid;
}

#apellido{
    margin-top: -73px;
    margin-left: 350px;
}

#txtApellido
{
    left: 320px;
    position: relative;
    width: 200px;
    line-height: 40px;
    border-radius: 6px;
    font-size: 20px;
    border-style: solid;
}

#phone{
    margin-top: 40px;
    margin-left: 65px;
}

#txtNumero{
    left: 45px;
    position: relative;
    width: 200px;
    line-height: 40px;
    border-radius: 6px;
    font-size: 20px;
    border-style: solid;
}

#correo{
    margin-top: -73px;
    margin-left: 350px;
}

#txtCorreo{
    left: 320px;
    position: relative;
    width: 200px;
    line-height: 40px;
    border-radius: 6px;
    font-size: 20px;
    border-style: solid;
}

#dir{
    margin-top: 30px;
    text-align: center;
}

#txtDireccion{
    left: 125px;
    width: 310px;
    position: relative;
    line-height: 50px;
    border-radius: 6px;
    font-size: 20px;
}

#btnEnviar
{
    width: 125px;
    height: 55px;
    margin-top: 10px;
    margin-left: 215px;
    background: #000;
    color: #fff;
    border-radius: 5px;
    border: none;
}

#btnEnviar p{
    font-size: 25px;
    margin-top: -7px;
}

#btnEnviar:hover
{
   background:green;
}

#btnEnviar:focus{
    outline: none;
}


/*#endregion stylecaja*/

/*#region cajas*/
#caja1
{
    margin-top: 160px;
    margin-left: 730px;
}

/*#endregion cajas*/

.clearfix{
    clear: both;
}

footer{
    background: #fff;
    color:black;
    text-align: center;
    height: 50px;
    line-height: 50px;
    font-size: 25px;
}